<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "blueelk" %></title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    
    <%= partial "header" %>

    <%= partial "top_navigation" %>
    
    <div class="container px-5 pt-5">
      <div class="content">
        <div class="columns">
          <div class="column">
            <article>
              <h6><%= current_page.date.strftime('%Y-%m-%d') %></a></h6>
              <h5><%= current_page.data.title %></h5>
              <%= yield %>
            </article>
          </div>
        </div>
      </div>
    </div>

    <%= partial "footer" %>
  </body>
</html>
