<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "blueelk" %></title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    
    <%= partial "header" %>

    <div class="container px-5">
      <ol role="navigation" class="navigation">
        <li><%= link_to 'Home', '/index.html' %></li>
        <li><%= link_to 'About', '/about.html' %></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/lists.html">Lists</a></li>
      </ol>
    </div>
    
    <div class="container px-5 pt-5">
      <div class="content">
        <div class="columns">
          <div class="column is-three-quarters">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <%= partial "footer" %>
  </body>
</html>
